# nav
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# listing
alias l="ls -l"
alias la="ls -la"
alias lr='ls -R | grep ":$" | sed -e '\''s/:$//'\'' -e '\''s/[^-][^\/]*\//--/g'\'' -e '\''s/^/   /'\'' -e '\''s/-/|/'\''' #recursive directory listing
alias ld='ls -Gl | grep ^d' # only list directories

# typo
alias naon="nano"
alias suod="sudo"
alias suna="sudo nano"

# other
alias yo="yeoman"
alias unzip="tar -xzvf"
alias bounce="sudo service apache2 restart"
alias zf="zf.sh"
