# nav
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# listing
alias l="ls -l"
alias la="ls -la"

# typo
alias naon="nano"
alias suod="sudo"
